.buttons {
	height: 400px;
	width: 90%;
	margin: 20px auto 0 auto;
	display: flex;
	flex-direction: column-reverse;
	&__row {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: space-between;
		margin-bottom: 6px;
		&:first-child {
			margin: 0;
		}
	}
}
@media (max-width: 500px){
	.buttons {
		height: 320px;
		width: 90%;
		margin: 20px auto 0 auto;
	}
}