.calculator {
  text-align: center;
	background-color: #000000;
	margin: 50px auto;
	width: 400px;
  height: 530px;
	margin-top: 50px;
	padding: 30px 15px;
	border-radius: 20px;
}
@media (max-width: 500px){
	.calculator {
		width: 280px;
		height: 450px;
		margin: 30px auto;
		padding: 20px 10px;
	}
}